
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar

*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip

.apt_generated
.classpath
.factorypath
.gradle
.idea
.mtj.tmp/
.project
.settings
.springBeans
.sts4-cache
.vscode/

/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/

HELP.md
bin/
build/
hs_err_pid*
out/
